<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/restaurants/new" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="추천 장소의 이름을 입력하세요">
            <label for="location"> 위치</label>
            <input type="text" id="location" name="location" placeholder="추천 장소의 위치를 입력하세요">
            <label for="location"> 설명</label>
            <input type="text" id="description" name="description" placeholder="추천 장소의 정보를 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>